.dash-content-wrapper
  .task-analytics-area.panel-body
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      .task-value.d-inline-block
        = current_user.disputed_tasks.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_icon.png" }/
      %h5 Tasks Assigned
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      .task-value.d-inline-block
        = current_user.tasks.closed.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_completed_icon.png" }/
      %h5 Tasks Ongoing
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      .task-value.d-inline-block
        = current_user.assigned_tasks.completed.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_ongoing_icon.png" }/
      %h5 Tasks Completed
  .dash-container
    .panel
      .panel-header
        %h4.d-inline-block
          %b
            Microtasks
        .pull-right.d-inline-block.filter-box
          %span Filter by
          %select
            %option All
            %option option
      .panel-body.plr-0
        .table-responsive
          %table.table
            %thead
              %tr
                %th Title
                %th Description
                %th.text-center Vodiant
                %th.text-center Vodeer
                %th.text-center Cost
                %th.text-center Start Date
                %th.text-center End Date
                %th.text-center Status
                %th
            %tbody
              - unless @tasks.empty?
                - @tasks.each do |task|
                  %tr
                    %td= task.title.truncate(10)
                    %td= task.description.truncate(30)
                    %td.text-center= task.vodiant&.full_name
                    %td.text-center= task.vodeer&.full_name
                    %td.text-center
                      = task.start_date&.strftime("%d/%m/%Y")
                    %td.text-center
                      = task.end_date&.strftime("%d/%m/%Y")
                    %td.text-center= task.wage
                    %td.text-center= task.status.humanize
                    %td.detail-btn
                      %a.pan-link.btn.btn-default{ :href => task_path(task) }
                        Detail
      .panel-footer
        .text-right
          %a.pan-link{ :href => "/tasks" }
            %b
              View All Task

