.dash-content-wrapper
  .task-analytics-area.panel-body
    .analytics-box.col-md-2.col-sm-6.col-xs-12.task-open-dash
      .task-value.d-inline-block
        = current_user.tasks.open.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_icon.png" }/
      %h5 Task open
    .analytics-box.col-md-2.col-sm-6.col-xs-12.task-progress-dash
      .task-value.d-inline-block
        = current_user.tasks.progress.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_ongoing_icon.png" }/
      %h5 Task Ongoing
    .analytics-box.col-md-2.col-sm-6.col-xs-12.task-completed-dash
      .task-value.d-inline-block
        = current_user.tasks.completed.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_completed_icon.png" }/
      %h5 Task Completed
    .analytics-box.col-md-2.col-sm-6.col-xs-12.task-disputed-dash
      .task-value.d-inline-block
        = current_user.tasks.disputed.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_disputed_icon.png" }/
      %h5 Task Disputed
    .analytics-box.col-md-2.col-sm-6.col-xs-12.wallet-dash
      %a.wallet-das{ :href => wallet_path(current_user.wallet) }
        .task-value.d-inline-block
          = @wallet.balance
          %span.wallet-vdx VDX
        .metric-icon.d-inline-block.pull-right
          %img{ :src => "/assets/dashboard/wallet.png" }/
        %h5 Wallet Balance
    .analytics-btn-box.col-md-2.col-sm-6.col-xs-12
      %a.btn.btn-create.dashboard-create-task{:href=>"/tasks/new"}
        %i
          %img{ :src => "assets/dashboard/create_new_task.png" }/
        Create New Task
  .dash-container
    .panel
      .panel-header
        %h4.d-inline-block
          %b
            Recent Microtask
        .pull-right.d-inline-block.filter-box
          %span Filter by
          %select
            %option All
            %option option
      .panel-body.plr-0
        .table-responsive
          %table.table
            %thead
              %tr
                %th Job Name
                %th Description
                %th.text-center Max No. of Vodeer
                %th.text-center Start Date
                %th.text-center End Date
                %th.text-center Status
                %th.text-center Accepted
                %th.text-center Waiting for Approval
                %th.text-center Approved
                %th.text-center Rejected
                %th.text-center Disputed
                %th
            %tbody
              - unless @tasks.empty?
                - @tasks.each do |task|
                  %tr
                    %td= task.title.truncate(10)
                    %td= task.description.truncate(20)
                    %td.text-center= 1
                    %td.text-center
                      = task.created_at&.strftime("%d/%m/%Y")
                    %td.text-center
                      = task.end_date&.strftime("%d/%m/%Y")
                    %td.text-center= task.status.humanize
                    %td.text-center 1
                    %td.text-center 1
                    %td.text-center 1
                    %td.text-center 1
                    %td.text-center 1
                    %td.detail-btn
                      %a.pan-link.btn.btn-default{ :href => task_path(task) }
                        Detail
                    
      .panel-footer
        .text-right
          %a.pan-link{ :href => "/tasks" }
            %b
              View All Task

= javascript_pack_tag 'javascripts/tasks/show'