.dash-content-wrapper
  .task-analytics-area.panel-body
    .analytics-box.col-md-2.col-sm-6.col-xs-12.task-progressv-dash
      .task-value.d-inline-block
        = current_user.assigned_tasks.progress.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_icon.png" }/
      %h5 Tasks Working
    .analytics-box.col-md-2.col-sm-6.col-xs-12.task-approvedv-dash
      .task-value.d-inline-block
        = current_user.assigned_tasks.approved.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_completed_icon.png" }/
      %h5 Tasks Accepted
    .analytics-box.col-md-2.col-sm-6.col-xs-12.task-completedv-dash
      .task-value.d-inline-block
        = current_user.assigned_tasks.completed.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_ongoing_icon.png" }/
      %h5 Tasks Completed
    .analytics-box.col-md-2.col-sm-6.col-xs-12.task-disputedv-dash
      .task-value.d-inline-block
        = current_user.assigned_tasks.disputed.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_disputed_icon.png" }/
      %h5 Tasks Disputed
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      %a.wallet-das{ :href => wallet_path(current_user.wallet) }
        .task-value.d-inline-block.wallet-vdx-bal
          
        %span.wallet-vdx VDX
        .metric-icon.d-inline-block.pull-right
          %img{ :src => "/assets/dashboard/wallet.png" }/
        %h5 Wallet Balance
  .dash-container
    .panel
      .panel-header
        %h4.d-inline-block
          %b
            Recent Published Microtasks
      .panel-body.plr-0
        .table-responsive
          %table.table
            %thead
              %tr
                %th Task Name
                %th Description
                %th.text-center Vodiant
                %th.text-center Start Date
                %th.text-center End Date
                %th.text-center Cost
                %th.text-center Status
                %th
            %tbody
              - unless @recent_published_tasks.empty?
                - @recent_published_tasks.each do |task|
                  %tr
                    %td= task.title.truncate(10)
                    %td= task.description.truncate(25)
                    %td.text-center= task.vodiant.full_name
                    %td.text-center
                      = task.created_at&.strftime("%d/%m/%Y")
                    %td.text-center
                      = task.end_date&.strftime("%d/%m/%Y")
                    %td.text-center= task.wage
                    %td.text-center= task.status.humanize
                    %td.detail-btn
                      %a.pan-link.btn.btn-default{ :href => task_path(task) }
                        Detail

      .panel-footer
        .text-right
          %a.pan-link{ :href => "/tasks" }
            %b
              View All Task

    .panel
      .panel-header
        %h4.d-inline-block
          %b
            Recent Working Microtasks
      .panel-body.plr-0
        .table-responsive
          %table.table
            %thead
              %tr
                %th Task Name
                %th Description
                %th.text-center Vodiant
                %th.text-center Start Date
                %th.text-center End Date
                %th.text-center Cost
                %th.text-center Status
                %th
            %tbody
              - unless @recent_working_tasks.empty?
                - @recent_working_tasks.each do |task|
                  %tr
                    %td= task.title.truncate(10)
                    %td= task.description.truncate(25)
                    %td.text-center= task.vodiant.full_name
                    %td.text-center
                      = task.created_at&.strftime("%d/%m/%Y")
                    %td.text-center
                      = task.end_date&.strftime("%d/%m/%Y")
                    %td.text-center= task.wage
                    %td.text-center= task.status.humanize
                    %td.detail-btn
                      %a.pan-link.btn.btn-default{ :href => task_path(task) }
                        Detail

      .panel-footer
        .text-right
          %a.pan-link{ :href => "/tasks" }
            %b
              View All Task

= javascript_pack_tag 'javascripts/tasks/show'
:javascript
  var walletAddress = "#{@wallet.address}";