= render 'layouts/dashboard_header'
= render 'layouts/dashboard_side_nav'
.dash-content-wrapper
  .task-analytics-area.panel-body
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      .task-value.d-inline-block
        = current_user.tasks.open.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_icon.png" }/
      %h5 Task open
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      .task-value.d-inline-block
        = current_user.tasks.completed.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_completed_icon.png" }/
      %h5 Task Completed
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      .task-value.d-inline-block
        = current_user.tasks.progress.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_ongoing_icon.png" }/
      %h5 Task Ongoing
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      .task-value.d-inline-block
        = current_user.tasks.disputed.length
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/task_disputed_icon.png" }/
      %h5 Task Disputed
    .analytics-box.col-md-2.col-sm-6.col-xs-12
      .task-value.d-inline-block 170
      .metric-icon.d-inline-block.pull-right
        %img{ :src => "/assets/dashboard/wallet.png" }/
      %h5 Wallet Balance
    .analytics-btn-box.col-md-2.col-sm-6.col-xs-12
      %button.btn.btn-create
        %i
          %img{ :src => "assets/dashboard/create_new_task.png" }/
        %a.sidebar-link{ :href => "/tasks/new" } Create new task
  .dash-container
    .panel
      .panel-header
        %h4.d-inline-block
          %b
            Recent Microtask
        .pull-right.d-inline-block.filter-box
          %span Filter by
          %select
            %option All
            %option option
      .panel-body.plr-0
        .table-responsive
          %table.table
            %thead
              %tr
                %th Task Name
                %th Desctiption
                %th.text-center Max No. of Vodeer
                %th.text-center Start Date
                %th.text-center End Date
                %th.text-center Accepted
                %th.text-center Waiting for Approval
                %th.text-center Approved
                %th.text-center Rejected
                %th.text-center Disputed
                %th
            %tbody
              - unless @tasks.empty?
                - @tasks.each do |task|
                  %tr
                    %td= task.title
                    %td= task.description
                    %td.text-center= task.max_vodeer
                    %td.text-center
                      = task.start_date
                    %td.text-center
                      = task.end_date
                    %td.text-center 20
                    %td.text-center 6
                    %td.text-center 1
                    %td.text-center 1
                    %td.text-center 1
                    %td.detail-btn
                      %span.btn.btn-default
                        Detail

      .panel-footer
        .text-right
          %a.pan-link{ :href => "/tasks" }
            %b
              View All Task
