.bg-wrapper-field
  .container
    .thumbnail
      %h2.text-center
        Task Details
      - href_link = @href_link.present? ? @href_link : "/tasks?filter_type=closed"
      %a.back-btn{ href: href_link }
        = image_tag("/assets/left-arrow.png")
        Back

      .task-detail-block
        %h4
          = @task.title || '-'
      .status-ongoing
        .col-md-3.col-sm-3.col-xs-6
          %span
            STATUS
          %p
            = @task.status.humanize
        .col-md-3.col-sm-3.col-xs-6
          %span
            COST
          %p
            = "#{@task.wage} VDX"
        .col-md-3.col-sm-3.col-xs-6
          %span
            VODEER
          %p
            = @task.vodeer&.full_name || '-'
        .col-md-3.col-sm-3.col-xs-6
          %span
            END DATE
          %p
            = @task.end_date.strftime("%d/%m/%Y")

      .description-field
        %span
          DESCRIPTION
        %p
          = @task.description
