.bg-wrapper-field
  .container
    .thumbnail
      %h2.text-center
        Completed Task Details
      %a.back-btn#completed-back{ href: "/tasks" }
        = image_tag("/assets/left-arrow.png")
        Back

      .task-detail-block
        %h4
          = @task.title || '-'
      .status-ongoing
        .col-md-3.col-sm-3.col-xs-6
          %span
            STATUS
          %p.status-p
            = @task.status.humanize
        .col-md-3.col-sm-3.col-xs-6
          %span
            COST
          %p
            = "#{@task.wage} VDX"
        .col-md-3.col-sm-3.col-xs-6
          %span
            VODEER
          %p
            = @task.vodeer&.full_name || '-'
        .col-md-3.col-sm-3.col-xs-6
          %span
            END DATE
          %p
            = @task.end_date.strftime("%d/%m/%Y")

      .description-field
        %span
          DESCRIPTION
        %p
          = @task.description

    .pay-vdx-btns.complete-buttons
      .back-btn-field.display-center
        %span.btn.btn-default.back-btn{"data-target" => "#reject-field", "data-toggle" => "modal", :href => "#"}
          Reject
        %span.btn.btn-default.stack-btns.approve-task{ task_id: @task.id }
          Approve


.flex-f
  #reject-field.modal.fade.reject-field{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-body
          = image_tag("/assets/cancel.png")
          %p
            Please enter reason to reject this task
          .form-group
            %textarea.form-control.rejected-comment{:placeholder => "Write your text..."}

          .pay-vdx-btns.poup-btn
            .back-btn-field.display-center
              %span.btn.btn-default.back-btn.cancel-reject-task
                Cancel
              %span.btn.btn-default.stack-btns.submit-reject-task
                Submit

= render 'task_stake_token_vodiant_reject'
= render 'task_stake_vodiant_accept'
:javascript
  var walletId = "#{current_user.wallet.id}"