.login-page-wrapper
  = render 'devise/shared/devise_sidenav'
  .col-md-6.col-xs-12.col-sm-12.right-field-block
    .main-auth-field-section
      %h2
        Create your Account
      %p
        Get your free VodiX account now.

    .tabs-block-wrapper
      %ul.nav.nav-tabs.nav-justified
        %li.active#vodiant
          %a{ href: 'javascript:void(0)' } VODIANT
        %li#vodeer
          %a{ href: 'javascript:void(0)' } VODEER
        %li#arbiter
          %a{ href: 'javascript:void(0)' } ARBITER

    .auth-form-block.border-btm
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.hidden_field :role, class: 'user-role', value: 'vodiant'
        .field
          = f.text_field :full_name, autofocus: true, class: 'form-control',
           placeholder: 'Fullname'
        .field
          = f.text_field :username, autofocus: false, class: 'form-control',
           placeholder: 'Username'
        .field
          = f.email_field :email, autofocus: true, class: 'form-control',
           placeholder: 'Email Address'
        .field
          = f.password_field :password, autofocus: true, class: 'form-control',
           placeholder: 'Password'
        .field
          = f.password_field :password_confirmation, autofocus: true, class: 'form-control',
           placeholder: 'Confirm Password'

        .actions.clearfix
          = f.submit 'Sign up', type: 'button', class: 'btn btn-default pull-left', data: {target: "#confirmation-popup", toggle: "modal"}
          .already-acc.pull-right
            Already have an acount?
            = link_to 'Login', new_user_session_path,class: 'login-link'

    .terms-condition.text-left
      %p
        By Signup, you agree to accept the
        %span
          %a{ href: '#' } Terms of services
          \&amp;
          %a{ href: '#' } Privacy Policy

.flex-f
  #confirmation-popup.modal.fade.confirmation-field{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-body
          = image_tag('/assets/email.png')
          %h3
            Confirm Your Email
          %p
            An email has been  sent to your email address.
            Follow the instruction in the email to confirm
          .confirm-btn.modal-btn
            %span.btn.btn-default{:href => 'javascript:void(0)'}
              Okay


- content_for :footer do
  = javascript_pack_tag 'javascripts/users/registration'
