.dash-container.task-field-wrapper
  .panel
    .panel-header
      %h4.d-inline-block
        %b
          = @task_type
      .pull-right.d-inline-block.filter-box
        %span Filter by
        %select
          %option All
          %option option
    .panel-body.plr-0
      .table-responsive
        %table.table
          %thead
            %tr
              %th Title
              %th Description
              %th.text-center Vodiant
              %th.text-center Vodeer
              %th.text-center Start Date
              %th.text-center End Date
              %th.text-center Cost
              %th
          %tbody
            - unless @tasks.empty?
              - @tasks.each do |task|
                %tr
                %td= task.title.truncate(10)
                %td= task.description.truncate(10)
                %td.text-center= task.vodiant&.full_name
                %td.text-center= task.vodeer&.full_name
                %td.text-center
                  = task.created_at&.strftime("%D")
                %td.text-center
                  = task.end_date&.strftime("%D")
                %td.text-center= task.wage
                %td.detail-btn
                  %a.pan-link.btn.btn-default{ :href => task_path(task) }
                    Detail