.dash-container.task-field-wrapper
  .panel
    .panel-header
      %h4.d-inline-block
        %b
          = @task_type
    .panel-body.plr-0
      .table-responsive
        %table.table
          %thead
            %tr
              %th Job Name
              %th Description
              %th.text-center Max No. of Vodeer
              %th.text-center Start Date
              %th.text-center End Date
              %th.text-center Accepted
              %th.text-center Waiting for Approval
              %th.text-center Approved
              %th.text-center Rejected
              %th.text-center Disputed
              %th
          %tbody
            - unless @tasks.empty?
              - @tasks.each do |task|
                %tr
                %td= task.title.truncate(20)
                %td.vodeer-list= task.description.truncate(80)
                %td.text-center= 1
                %td.text-center
                  = task.created_at&.strftime("%D")
                %td.text-center
                  = task.end_date&.strftime("%D")
                %td.text-center= task.progress? ? 1 : 0
                %td.text-center= task.completed? ? 1 : 0
                %td.text-center= (task.approved? || task.resolved?) ? 1 : 0
                %td.text-center= task.rejected? ? 1 : 0
                %td.text-center= task.disputed? ? 1 : 0
                %td.detail-btn
                  %a.pan-link.btn.btn-default{ :href => task_path(task) }
                    Detail