= render 'layouts/dashboard_header'
= render 'layouts/dashboard_side_nav'

- if current_user.vodiant? && @task.open?
  = render 'tasks/vodiant/open_task_detail'
- elsif current_user.vodiant? && @task.progress?
  = render 'tasks/vodiant/progress_task_detail'
- elsif current_user.vodiant? && @task.completed?
  = render 'tasks/vodiant/completed_task_detail'
- elsif current_user.vodiant? && @task.approved?
  = render 'tasks/vodiant/approved_task_detail'
- elsif current_user.vodiant? && @task.disputed?
  = render 'tasks/vodiant/disputed_task_detail'
- elsif current_user.vodiant? && @task.rejected?
  = render 'tasks/vodiant/rejected_task_detail'
- elsif current_user.vodeer? && @task.rejected?
  = render 'tasks/vodeer/vodeer_rejected_task_detail'
- elsif current_user.vodeer? && @task.disputed?
  = render 'tasks/vodeer/vodeer_disputed_task_detail'
- elsif current_user.vodeer? && (@task.open? || @task.progress? || @task.completed? || @task.approved?)
  = render 'tasks/vodeer/vodeer_task_detail'

- content_for :footer do
  = javascript_pack_tag 'javascripts/tasks/show'
