.setup-account
  .container
    .thumbnail
      %h2
        Task Detail
      .tabs-block-wrapper.acc-tab-bg
      .tab-content.clearfix
        #create.tab-pane.fade.in.active.create-field
          %label.col-md-2.col-sm-2.col-xs-2
            .table-responsive
              %thead
                %tr
                  %th Title
                  %th.text-center Status
                  %th.text-center Cost
                  %th.text-center Vodeer
                  %th.text-center End Date
                  %th Description
                  %th
              %tbody
                %tr
                  %td= @task.title
                  %td= @task.status
                  %td= @task.wage
                  %td= @task.vodeer || '-'
                  %td= @task.end_date
                  %td= @task.description

