- content_for :header do
  = stylesheet_pack_tag 'styles/restore_wallets', media: 'all'
  = stylesheet_pack_tag 'styles/setup_accounts', media: 'all'

= render 'layouts/header'

.setup-account
  .container
    .thumbnail.platform-stack
      %h2.heading-setup-block
        Platform Stack
      .token-value-field.well
        = image_tag("/assets/dashboard/vodix_balance.png")
        %h3
          02
          %span
            VDX
      .encrypt-address
        .form-group
          %input.form-control.private-key{:placeholder => "Enter your private key", :type => "text"}/
          %input.form-control.wallet-address{:placeholder => "rest", :type => "hidden", value: current_user.wallet.address, wallet_id: current_user.wallet.id}/

    .restore-btn
      %a.btn.btn-default.platform-stack
        Confirm
      / %a.btn.btn-default{"data-target" => "#qr-code", "data-toggle" => "modal", :href => "#"}
      /   Verify

- content_for :footer do
  = javascript_pack_tag 'javascripts/setup_accounts/platform_stack'



= render 'layouts/footer'

