= render 'layouts/header'
.setup-account
  .container
    .thumbnail
      %h2.heading-setup-block
        Setup Account
      %p.subheading-setup-block
        Enter your mnemonic or generate a new one
      #exTab1.set-up-tabs.acc-tab-bg
        %ul.nav.nav-pills
          %li.active
            %a{"data-toggle" => "tab", "data-rel" => 'setup', :href => "#1a"} SETUP
          %li
            %a{"data-toggle" => "tab", "data-rel" => 'verify', :href => "#2a"} VERIFY
          %li
            %a{"data-toggle" => "tab", "data-rel" => 'review', :href => "#3a"} REVIEW

      .tab-content.clearfix
        #1a.tab-pane.active
          %form.form-horizontal.setup-block-input-b
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  01
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "rest", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  02
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "hospital", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  03
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "legal", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  04
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "vicious", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  05
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "two", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  06
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "wife", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  07
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "arrive", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  08
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "amateur", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  09
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "music", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  10
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "fruit", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  11
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "input", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  12
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "gas", :type => "text"}/
            .copy-field
              %a.btn.btn-default{:href=> '#'}
                = image_tag("/assets/copy.png")
                Copy mnemonic

        #2a.tab-pane
          %form.form-horizontal.setup-block-input-b
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  04
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "Enter 4th word", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  07
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "Enter 7th word", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  09
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "Enter 9th word", :type => "text"}/
            .col-md-3.col-sm-3.col-xs-12
              .form-group
                %label.col-md-2.col-sm-2.col-xs-2
                  12
                .col-md-10.col-sm-10.col-xs-10
                  %input.form-control{:placeholder => "vicious", :type => "text"}/
        #3a.tab-pane
          .vodix-field-wrapper
            .access-block.review-block-f
              %form
                .form-group
                  %input#html{:type => "checkbox"}/
                  %label{:for => "html"}
                  %p
                    VodiX does not have access to my private keys.
            .access-block.review-block-f
              %form
                .form-group
                  %input#html{:type => "checkbox"}/
                  %label{:for => "html"}
                  %p
                    The only way to way to recover my assets is to use the 12-word backup phrase.


    .restore-btn
      %a.btn.btn-default.grey-field{:href => "#"}
        Back
      %a.btn.btn-default{"data-target" => "#qr-code", "data-toggle" => "modal", :href => "#"}
        Verify


#qr-code.modal.fade.qr-field{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-body
        %h2
          Your VodiX Wallet QR Code
        %p
          Scan or Share QR code to receive Ether or Vodix Team
        .qr-code-field
          = image_tag("/assets/qr-code.png")
        .address-encryp
          .form-group
            %input.form-control{:placeholder => "1shkhkjjpoi4ddddd", :type => "text"}/
            %label
              WALLET ADDRESS
          .form-group
            %input.form-control{:placeholder => "1shkhkjjpoi4ddddd", :type => "text"}/
            %label
              PRIVATE KEY

        .download-field
          .circular-field
            %a.btn.btn-default{:href=> '#'}
              = image_tag("/assets/copy.png")
              Copy
          .circular-field
            %a.btn.btn-default{:href=> '#'}
              = image_tag("/assets/Download.png")
              Download
        .restore-btn.modal-btn
          %a.btn.btn-default{:href => "#"}
            Countinue




= render 'layouts/footer'

:javascript

  $(document).on('click', '.nav-pills a', function(e){
    tab = $(this).data('rel');
    if(tab === 'setup'){
      $('.heading-setup-block').text('Setup Account');
      $('.subheading-setup-block').text('Enter your mnemonic or generate a new one');
    }
    else if(tab === 'verify'){
      $('.heading-setup-block').text('Verify Backup Phrase');
      $('.subheading-setup-block').text('Please write the correct words');
    }
    else if(tab === 'review'){
      $('.heading-setup-block').text('Review');
      $('.subheading-setup-block').text('By using the VodiX Wallet I unserstand that:');
    }
  });