.bg-wrapper-field
  .container
    .thumbnail
      %h2.text-center
        Task Details
      %a.back-btn{ href: "/tasks" }
        = image_tag("/assets/left-arrow.png")
        Back

      .task-detail-block
        %h4
          = @task.title || '-'
      .status-ongoing
        .col-md-3.col-sm-3.col-xs-6
          %span
            STATUS
          %p
            = @task.status.humanize
        .col-md-3.col-sm-3.col-xs-6
          %span
            COST
          %p
            = "#{@task.wage} VDX"
        .col-md-3.col-sm-3.col-xs-6
          %span
            VODEER
          %p
            = @task.vodeer&.full_name || '-'
        .col-md-2.col-sm-3.col-xs-6
          %span
            ARBITER
          %p
            = @task.arbiter&.full_name || '-'
        .col-md-3.col-sm-3.col-xs-6
          %span
            END DATE
          %p
            = @task.end_date.strftime("%d/%m/%Y")

      .description-field
        %span
          DESCRIPTION
        %p
          = @task.description
      .vodiant-reason-f
        %h4
          VODIANT'S COMMENT (REASON TO REJECT)
        %p
          = @task.rejection_comment || '- '
      .vodiant-reason-f
        %h4
          VODEER'S COMMENT (REASON TO DISPUTE)
        %p
          = @task.dispute_comment || '- '