My Profile
%table
  %tr
    %th Full Name
    %th User Name
    %th Email Address
    %th Profile
    %th{:colspan => "4"}
    %tr
      %td= current_user.full_name
      %td= current_user.username
      %td= current_user.email
      %td= image_tag current_user.avatar.url(:thumb) if current_user.avatar.present?

= form_for :user_profiles, url: update_avatar_user_profiles_path, local: true do |form|
  = form.file_field :avatar
  = form.submit