.login-page-wrapper
  = render 'devise/shared/devise_sidenav'
  .col-md-6.col-xs-12.col-sm-12.right-field-block
    .main-auth-field-section
      %h2
        Welcome :)
      %p
        To keep connected with us please login with your personal
        %br
        information by email address and password

    .tabs-block-wrapper
      %ul.nav.nav-tabs.nav-justified
        %li.active#vodiant
          %a{ href: 'javascript:void(0)' } VODIANT
        %li#vodeer
          %a{ href: 'javascript:void(0)' } VODEER
        %li#arbiter
          %a{ href: 'javascript:void(0)' } ARBITER

    .auth-form-block
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.hidden_field :role, class: 'user-role', value: 'vodiant'
        .field
          = f.text_field :username, autofocus: true, autocomplete: 'username',
           class: 'form-control', placeholder: 'Username'
        .field
          = f.password_field :password, autocomplete: 'current-password',
           class: 'form-control', placeholder: 'Password'
        - if devise_mapping.rememberable?
          .field
            .radio-btn
              .radio-one
                %input#radio-10{ name: '1', type: 'radio', value: 'Yes' }/
                %label{ for: 'radio-10' }
                  = f.label :remember_me
                  %span

        .actions.clearfix
          = f.submit 'Login', class: 'btn btn-default pull-left'
          .pull-right.f-password
            %a{:clss => "bt-f-password", :href => "#"} Forgot Password?
            %a
        .create-account-link
          - if devise_mapping.registerable? && controller_name != 'registrations'
            Don't have an account?
            = link_to 'Sign Up', new_registration_path(resource_name),
             class: 'create-acc' 

    .terms-condition.text-left
      %p
        By Login, you agree to accept the
        %span
          %a{ href: '#' } Terms of services
          \&amp;
          %a{ href: '#' } Privacy Policy
  - content_for :footer do
    = javascript_pack_tag 'javascripts/users/session'
