!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Vodix
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'styles/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'javascripts/application'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900'
    = favicon_link_tag '32x32.ico'
    
    :javascript
      $(document).ready(function() {
        flatpickr(".datepicker", {
          altInput: true,
          minDate: 'today'
        })
      })
  
  %body
    = yield
    = yield :footer